$primary-color: #FF5414;
$secondary-color: #0079D3;
$black-color: #000000;
$white-color: #FFFFFF;
$gray-color-1: #F6F7F8;
$gray-color-2: #878A8C;
$gray-color-3: #272729;
$gray-color-4: #1A1A1B;
$gray-color-5: #DAE0E6;