@import "../../../scss/_variables.scss";

.buttonBar {
  padding: 1rem;
  border-radius: 20px;
  background: $white-color;
  display: flex;
  justify-content: space-between;
}

.iconContainer {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.svgIcons {
  color: $gray-color-2;
}